<nav class="navbar navbar-light text-light bg-dark fixed-top">
  <a class="navbar-brand ml-3">
    <h5>18's Bucketlist</h5>
  </a>
  <ul class="nav item">
    <% if user_signed_in? %> 
    <li class="mx-5 pr-5">Completados <%= current_user.todos.where(completed: true).count  %> / <%= Task.all.count %></li>
      <li>
      <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"btn btn-dark text-light" %>
      </li>
      <% else %>
      <li class="nav-item">
      <%= link_to "Iniciar sesión", new_user_session_path, class:"btn btn-dark text-light" %>
      </li>
      <li class="nav-item">
      <%= link_to "Registro", new_user_registration_path, class:"btn btn-dark text-light" %>
      <% end %>
      </li>
    </ul>
</nav>